.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading h2 {
    font-size: 24px;
    color: #333;
}

.container {
    width: 1200px;
    padding: 10px;
    margin: auto;
}