.LoadingContainer {
    position: relative;
    display: block;
    width: 200px;
    margin: 60px auto;
}

.LoadingBody{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delay1 {
    animation: waves 2.5s linear infinite;
    animation-delay: .1s;
}


.delay2 {
    animation: waves 3.5s linear .7s infinite;
}

.circle {
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #7BA227;
    margin: 10px;
    transition: 5s ease;
    position: absolute;
    top: -60px;
    left: 40px;
}

.delay1, .delay2 {
    width: 100px;
    height: 100px;
    background: #7ba22766;
}

.circle.delay3 {
    top: -25px;
    left: 73px;
}

@-webkit-keyframes waves {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes waves {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}